@charset 'utf-8';

/* フォント
----------------------------------------------- */
/*.smallは標準*/
.text-size-xs {
    font-size: 50%;
}
.text-size-sm {
    font-size: 80%;
}
.text-size-lg {
    font-size: 150%;
}
.text-size-xl {
    font-size: 200%;
}


/* ブロック要素マージン
----------------------------------------------- */
.margin-none {
    margin: 0;
}
.margin-top-sm {
    margin-top: 5px !important;
}
.margin-top-lg {
    margin-top: 20px !important;
}
.margin-bottom-sm {
    margin-bottom: 5px !important;
}
.margin-bottom-md {
    margin-bottom: 10px !important;
}
.margin-bottom-lg {
    margin-bottom: 20px !important;
}
.margin-bottom-xl {
    margin-bottom: 40px !important;
}
.margin-left-sm {
    margin-left: 5px !important;
}
.margin-left-lg {
    margin-left: 20px !important;
}
.padding-none {
  padding: 0;
}
.padding-xs {
  padding: 5px;
}
.padding-sm {
  padding: 10px;
}
.padding-md {
  padding: 20px;
}
.padding-lg {
  padding: 40px;
}
.padding-left-none {
  padding-left: 0;
}
.padding-left-xs {
  padding-left: 5px;
}
.padding-left-sm {
  padding-left: 10px;
}
.padding-left-md {
  padding-left: 20px;
}
.padding-left-lg {
  padding-left: 40px;
}
.padding-right-none {
  padding-right: 0;
}
.padding-right-xs {
  padding-right: 5px;
}
.padding-right-sm {
  padding-right: 10px;
}
.padding-right-md {
  padding-right: 20px;
}
.padding-right-lg {
  padding-right: 40px;
}
/* カラー
----------------------------------------------- */
.white {
    color: #ffffff;
}
.light-yellow {
    color: #fcf8e3;
}
.yellow {
    color: #e7bf40;
}
.orange {
    color: #f0ad4e;
}
.red {
    color: #d44950;
}
.blue {
    color: #2f6f9f;
}
.light-blue {
    color: #4f9fcf;
}
.light-gray {
    color: lightgray;
}
/* バックグラウンドカラー
----------------------------------------------- */
.bg-red {
    background-color: #d44950;
}

/************************************************
 for Font Awesome
************************************************ */
.fa-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.707,M12=0.707,M21=-0.707,M22=0.707,Dx=-2,Dy=8);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}