@charset "utf-8";

/************************************************
 共通設定
************************************************ */
/* コンテンツ */
#container {
    min-height: 700px; /*offcanvas対策 カテゴリ数が増えると増やさなくてはいけない？*/
}


/* ==============================================
 カラム指定
=============================================== */
.col-wrap {
    /*bs3 leftカラムとmainカラムの幅を調整する*/
    padding-left: 0;
    padding-right: 0;
}

/* メイン部
----------------------------------------------- */

#main_column {
    /*padding: 10px 0 0;*/
    padding-bottom: 40px; /*bs3*/
}

/* サイドカラム
----------------------------------------------- */
#leftcolumn {
    padding-bottom: 40px; /*bs3*/
}
#rightcolumn {
    padding-bottom: 40px; /*bs3*/
}

/* ==============================================
 ユーティリティ
=============================================== */
/* フォント
----------------------------------------------- */
h1,
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
}
h4,
h5 {
    font-size: 100%;
}
.sale_price {
    color: #d44950;
}
.normal_price {
    font-size: 90%;
}
.point {
    color: #d44950;
    font-weight: bold;
}
.user_name {
    font-weight: bold;
}
.recommend_level {
    color: #ecbd00;
}

.attention {
    color: #d44950;
}
.st {
    font-weight: bold;
}
.mini {
    font-size: 90%;
}

/* カラー
----------------------------------------------- */
.price {
    color: #d44950;
}

/* フォーム
----------------------------------------------- */
input,
select,
textarea {
    font-size: 16px !important;
}
label.col-xs-1,
label.col-sm-1,
label.col-md-1 {
    width: 1%;
}

/* タイトル
----------------------------------------------- */
h2.title {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 5px 7px;
    border-left: 5px solid #eee;
}

/* ==============================================
 ヘッダー
=============================================== */
/* レイアウト
----------------------------------------------- */
#errorHeader {
    color: #d44950;
    font-weight: bold;
    font-size: 12px;
    background-color: #FEB;
    text-align: center;
    padding: 5px;
}

/* ヘッダーナビ
----------------------------------------------- */
/*for mobile*/
#mobile-nav .nav>li>a{
    padding-left: 0;
    padding-right: 0;
}
#mobile-nav .cart-total-quantity {
    position: absolute;
    top: 2%;
    left: 55%;
}

/* ==============================================
 フッター
=============================================== */
#footer_wrap {
}
#footer {
}
#pagetop {
}
#copyright {
}


/* ==============================================
 パーツ
=============================================== */
/* ボタン
----------------------------------------------- */
.btn_area {
    margin-top: 40px;
}

/* 完了メッセージ
----------------------------------------------- */
div#complete_area {
    margin-bottom: 20px;
}
div#complete_area .message,
div#undercolumn_entry .message {
    margin-bottom: 20px;
}

/* Tipsy
----------------------------------------------- */
.tipsy {
    padding: 5px;
    font-size: 10px;
    position: absolute;
    z-index: 100000;
}
.tipsy-inner {
    padding: 5px 8px 4px 8px;
    background-color: black;
    color: white;
    max-width: 200px;
    text-align: center;
}
.tipsy-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.tipsy-arrow {
    position: absolute;
    background: url('../img/ajax/tipsy.gif') no-repeat top left;
    width: 9px;
    height: 5px;
}
.tipsy-n .tipsy-arrow {
    top: 0;
    left: 50%;
    margin-left: -4px;
}
.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 10px;
}
.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 10px;
}
.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -4px;
    background-position: bottom left;
}
.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 10px;
    background-position: bottom left;
}
.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 10px;
    background-position: bottom left;
}
.tipsy-e .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    right: 0;
    width: 5px;
    height: 9px;
    background-position: top right;
}
.tipsy-w .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    left: 0;
    width: 5px;
    height: 9px;
}
