@charset "utf-8";

/************************************************
 各ページコンテンツ用
************************************************ */
/* ==============================================
▼TOP
=============================================== */
/* メインイメージ
----------------------------------------------- */
#main_image {
    margin-bottom: 10px;
    text-align: center;
}

/* ==============================================
▼MYページ
=============================================== */
/* 共通設定
----------------------------------------------- */
div#mypagecolumn {
    width: 100%;
}

/* ==============================================
▼ログイン
=============================================== */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



/* ==============================================
▼エラー
=============================================== */
div#undercolumn_error .message_area .error {
    padding: 20% 10%;
}


/* ==============================================
▼商品一覧
=============================================== */
/* ページ送り
----------------------------------------------- */
.pagenumber_area {
    margin-bottom: 20px;
}

/* レイアウト
----------------------------------------------- */
#product-list-wrap div.list_area > a.thumbnail {
    position: relative;
}
#product-list-wrap .soldout {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 100;
}
@media (max-width: 767px) {
    /*button*/
    .btn.xs-btn-lg{
        padding: 10px 16px;
    }
    #product-list-wrap .soldout {
        top: 28px;
        left: 2px;
        font-size: 12px;
    }
    #product-list-wrap {
    }
    #product-list-wrap div.list_area .picture {
        margin-top: 7px;
    }
    #product-list-wrap div.list_area {
        position: relative;
        display: block;
        min-height: 150px;
        margin-bottom: -1px;
        padding: 0;
        border-radius: 0;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    #product-list-wrap div.list_area:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    #product-list-wrap div.list_area:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    #product-list-wrap div.list_area:hover,
    #product-list-wrap div.list_area:focus {
      text-decoration: none;
      background-color: #f5f5f5;
    }
    #product-list-wrap div.list_area a.thumbnail {
        margin: 0;
        padding: 7px 14px 7px 0;
        background-color: transparent;
        border: none;
    }
    #undercolumn_cart .delete-cart {
        position: absolute;
        top: 10px;
        right: -5px;
    }
}
@media (min-width:768px){
    /*button*/
    .btn.sm-btn-lg{
        padding: 10px 16px;
    }
    #product-list-wrap div.list_area {
        padding-left: 4px;
        padding-right: 4px;
    }
    #product-list-wrap div.list_area:nth-child(3n+1) {
        padding-left: 0;
        padding-right: 8px;
    }
    #product-list-wrap div.list_area:nth-child(3n) {
        padding-left: 8px;
        padding-right: 0;
    }
    #product-list-wrap div.list_area > a.thumbnail {
        padding: 0;
        height: 275px;
        overflow: hidden;
    }
    #product-list-wrap div.caption {
        height: 115px;
        overflow: hidden;
    }
    #product-list-wrap div.caption > div.listcomment {
        display: none;
    }
    #detailphotobloc .picture,
    #product-list-wrap .picture {
        padding: 9px;
    }
    .dropdown-menu {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    /*button*/
    .btn.xs-btn-lg, .btn.sm-btn-lg{
        padding: 6px 12px;
    }
    #product-list-wrap div.list_area {
        padding-left: 7px;
        padding-right: 7px;
    }
    #product-list-wrap div.list_area:nth-child(3n+1),
    #product-list-wrap div.list_area:nth-child(3n) {
        padding-left: 7px;
        padding-right: 7px;
    }
    #product-list-wrap div.list_area:nth-child(4n+1) {
        padding-left: 0;
        padding-right: 7px;
    }
    #product-list-wrap div.list_area:nth-child(4n) {
        padding-left: 7px;
        padding-right: 0;
    }
    #product-list-wrap div.list_area > a.thumbnail {
        height: 315px;
    }
    #product-list-wrap div.caption {
        height: 125px;
    }
    #product-list-wrap div.caption > div.listcomment {
        display: inline-block;
    }
    .dropdown-menu {
        font-size: 14px;
    }
}
@media (min-width: 1200px) {
    #product-list-wrap div.list_area {
        padding-left: 10px;
        padding-right: 10px;
    }
    #product-list-wrap div.list_area:nth-child(3n+1),
    #product-list-wrap div.list_area:nth-child(3n) {
        padding-left: 10px;
        padding-right: 10px;
    }
    #product-list-wrap div.list_area:nth-child(4n+1) {
        padding-left: 0;
        padding-right: 10px;
    }
    #product-list-wrap div.list_area:nth-child(4n) {
        padding-left: 10px;
        padding-right: 0;
    }
    #product-list-wrap div.list_area > a.thumbnail {
        height: 330px;
    }
}
/*div.list_area {}*/
div.list_area > a:hover,
div.list_area > a:focus {
    text-decoration: none;
}
div.list_area .status_icon {
    margin-bottom: 5px;
    font-size: 12px;
}
div.list_area h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

/* 商品情報 各種設定
----------------------------------------------- */

/* ==============================================
▼商品詳細
=============================================== */
/* レイアウト

    tplファイルのマークアップが同じ項目
        * 1カラム時
        * 2カラム時
        * 3カラム時

/* レイアウト
----------------------------------------------- */
/*Off Canvas*/
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -80%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -80%;
  }

  .row-offcanvas-right.active {
    right: 80%;
    margin-right: 0px;
  }

  .row-offcanvas-left.active {
    left: 80%;
    margin-left: 0px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 80%;
  }
}

/* 商品情報 各種設定
----------------------------------------------- */
/* 商品コード */
#detailrightbloc .product_code dt,
#detailrightbloc .product_code dd {
    display: inline;
}

/* サブ情報
----------------------------------------------- */
div.sub_area {
    padding: 35px 0 0 0;
}

div.sub_area h3 {
    margin: 0;
    padding: 0;
}

/* お客様の声
----------------------------------------------- */
div#customervoice_area {
    padding: 35px 0 0 0;
}

div#customervoice_area h2 {
    margin: 0;
    padding: 0;
}

/* 関連商品（商品部分はbloc.cssのおすすめ商品と共通）
----------------------------------------------- */
div#whobought_area {
    clear: both;
    padding: 35px 0 0 0;
}

div#whobought_area h2 {
    margin: 0;
    padding: 0;
}

/* ***********************************************
▼カートの中
/*********************************************** */
/* 現在のカートの中
----------------------------------------------- */
#undercolumn_cart #quantity_level{
    display: inline-block;
}
.btn-delete, .btn-delete:visited {
    color: #777;
}
.btn-delete:hover {
    color: #333;
}
#undercolumn_cart .item-title {
    display: block;
    margin-top: 5px;
}
#undercolumn_cart .delete-cart {
    /*margin-top: -5px;*/
}

/* お支払い方法・お届け時間等の指定
----------------------------------------------- */
div#undercolumn_shopping .deliv-heading {
    padding: 10px 15px;
    display: block;
    background-color: #f5f5f5;
}
div#undercolumn_shopping .radio td {
    border: none;
    vertical-align: middle;
}

/* ==============================================
▼検索結果
=============================================== */
p.condition_area {
    margin: 0 auto;
    padding: 5px;
    border: solid 1px #333;
    width: 566px;
}
